NAME={{ item.name }}
DEVICE={{ item.name }}
UUID={{ inventory_hostname | password_hash('sha512') | to_uuid }}
TYPE=Bridge
STP=no
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
ONBOOT=yes
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
{% if item.skip_network is undefined %}
IPADDR={{ item.network }}.{{ osa_host_id }}
PREFIX={{ item.cidr_prefix}}
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
{% endif %}
