DEVICE=br-storage
NAME=br-storage
UUID={{ inventory_hostname | password_hash('sha512') | to_uuid }}
STP=no
TYPE=Bridge
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
ONBOOT=yes
{% if osa_deployhost is defined  %}
IPADDR={{ item.network }}.{{ host_id }}
PREFIX={{ item.cidr_prefix}}
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
{% endif %}
