STP=no
TYPE=Bridge
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
ONBOOT=yes
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME=br-vxlan
DEVICE=br-vxlan
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
UUID={{ ansible_date_time.iso8601_micro | random | to_uuid }}
IPADDR={{ osa_networking.network }}.{{ host_id }}
PREFIX={{ osa_networking.cidr_prefix }}
