$ORIGIN .
$TTL 604800	; 1 week
{{ domain }}	IN SOA	{{ ansible_fqdn }}. admin.{{ domain }}. (
				8          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 week)
				)
			NS	{{ ansible_fqdn }}.
{% for host in hostlist %}
{{ host }}  IN  A  {{ hostvars[host].ansible_host }}
{% endfor %}
