//
// named.conf
//
// Configured with Ansible
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

include "/etc/rndc.key";

acl "lan" {
	127.0.0.0/8;
	10.3.3.0/24;
};


options {
	listen-on port 53 { 127.0.0.1; {{ ansible_eth0.ipv4.address }}; };
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";

	# Disable built-in server information zones
	version none;
	hostname none;
	server-id none;


	recursion yes;
	allow-recursion{ lan; };
	allow-query { lan; };
{% if ansible_hostname in groups['ns-masters'] %}
	allow-transfer { localhost; 10.3.3.3; };
{% else %}
	allow-transfer { none; };
{% endif %}

	dnssec-enable yes;
	dnssec-validation yes;

        forwarders {
							75.75.75.75;
              8.8.8.8;
        };

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";
	managed-keys-directory "/var/named/dynamic";
	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
	channel "common_log" {
		file "/var/log/named/named.log" versions 10 size 5m;
		severity dynamic;
		print-category yes;
		print-severity yes;
		print-time yes;
	};
	category default { "common_log"; };
	category general { "common_log"; };
	category queries { "common_log"; };
	category client { "common_log"; };
	category security { "common_log"; };
	category query-errors { "common_log"; };
	category lame-servers { null; };
	channel update_log {
    file "/var/log/named/update.log";
    severity info;
    print-time yes;
  };
  category update { update_log; };
};


zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named/named.conf.local";
